.shop-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

/* --- الخط مع الكلمة --- */
.line-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  text-align: center;
}

.line-with-text::before,
.line-with-text::after {
  content: "";
  flex: 1;
  height: 2px;
  background: linear-gradient(
    to right,
    transparent,
    var(--accent-color),
    transparent
  );
  margin: 0 25px;
  border-radius: 2px;
  opacity: 0.7;
}
/* Dark Mode */
body.dark .line-with-text::before,
body.dark .line-with-text::after {
  background: linear-gradient(to right, transparent, #eeeded, transparent);
  opacity: 0.5;
}

/* النص في النص */
.line-with-text span {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--accent-color);
  letter-spacing: 2px;
  position: relative;
}

/* Dark Mode */
body.dark .line-with-text span {
  color: #eeeded;
}
